.site-header {
    background-color: #1bafbce6;
    color: #eceaea;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

.site-header-content {
    margin: 10px;


}

.profile-pic { 
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: #0a666e 2px 5px 5px;
}
button {
    display: inline-block;
  padding: 5px 10px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  
  outline: none;
  background-color: #20b351;
  border: none;
  border-radius: 15px;
  box-shadow:#0a666e 2px 1px 1px;
}
button:hover {
    background-color: #20b351;

}
button:active { 
  background-color: #20b351;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.music-link {
    font-family: monospace;
    color: white;

}
body{
    margin: 0;
}